.main-footer {
  letter-spacing: 0.08em;
  box-shadow: 0 8px 25px var(--secondary-color);
  background-color: var(--primary-color);
  height: var(--footer-size);
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: row;
  backdrop-filter: blur(5px);
  font-size: var(--fs-footer);
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
.footer-content {
  flex: 1;
  margin-right: auto;
}

.second-footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.second-footer-content svg {
  height: var(--logo-large-size);
  width: auto;
  flex-shrink: 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: var(--page-size);
}
@media (max-width: 900px) {
  .footer-content {
    margin-left: var(--page-margin);
  }
  .second-footer-content {
    margin-right: var(--page-margin);
  }
}
