
.logo {
  background-repeat: no-repeat;
  width: var(--logo-size);
  height: var(--header-height);
  display: inline-block;
  text-indent: -999999px;
  background-size: contain;
  background-position: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
}

.lines {
  width: 30px;
  height: 3px;
  background-color: var(--text-color);
  margin: 4px 0;
  transition: 0.4s;
}

.dropdownMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  opacity: 0.9;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 999;
  list-style-type: none;
}

.second-header-container {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-header {
  background-color: var(--primary-color);
  font-size: var(--fs-navbar);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 0;
  margin: 0;
}
.header-container {
  width: 100%;    
  margin: 0 auto; 
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  
  padding: 0;
}

.navB {
  margin: 30px;
  font-weight: 700;
  letter-spacing: 0.08em;
  background-color: transparent;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.navB:hover {
  color: var(--hover-color);
  cursor: pointer;
}

.main-header .header-container li:first-child {
  margin-left: var(--page-margin);
  margin-right: auto;
}
.main-header .header-container li:last-child {
  margin-right: var(--page-margin);
}
.main-header .second-header-container li:first-child {
  margin-left: var(--page-margin);
}

.second-header-container li:last-child {
  margin-left: auto;
  margin-right: var(--page-margin);
}
@media (max-width: 1480px) {
  :root {
    --logo-size: 15vw;
  }

  .second-header-container {
    display: flex;
    justify-content: flex-start;
  }
  .header-container {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
@media (max-width: 520px) {
  :root {
    --logo-size: 40vw;
  }
  
}
@media (min-width: 1920px) {
  :root {
    --page-margin: 4rem;
    --logo-size: 10vw;
  }
}