html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(40, 40, 40);
  color: white;
}
.headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}
.navB {
  margin: 40px;
  height: 100%;
  padding-top: 37px;
  font-family: Noto Sans Mono, WOFF2;
  font-size: 1.1em;
  background-color: transparent;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: white;
}
.navB:hover {
  color: rgb(247, 201, 155);
  cursor: pointer;
}
.Mainheader .headerContainer li:first-child {
  margin-right: 0;
  margin-left: 200px;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
}
.Mainheader {
  background-color: rgba(234, 118, 3, 0.7);
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1000;
}

.main {
  flex: 1;
  overflow: auto;
  padding-top: 10vh;
  padding-bottom: 100px;

}

.logo {
  background-image: url("../img/tul-fm_zkratka_cz_white_RGB.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100px;
  width: 100px;
  height: 40px;
  display: inline-block;
  text-indent: -999999px;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
  margin-right: 150px;
}
.lines {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}
.SecondHeaderContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(234, 118, 3,0.9);
  position: fixed;
  top: 59px;
  left: 0;
  right: 0;
  z-index: 999;
  list-style-type: none;
  
}
.navBLogo {
  display: none;
}
.logoRadky {
  width: 600px;
  height: auto;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
.kontakty {
  margin-left: auto;
  padding-left: 40px;
  height: 100%;
  font-family: Noto Sans Mono, WOFF2;
}
.social {
  margin-left: auto;
  margin-right: 200px;
  font-family: Noto Sans Mono, WOFF2;
}
.Mainfooter {
  background-color: rgba(234, 118, 3, 0.7);
  color: white;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: row;
  backdrop-filter: blur(5px);
  margin-top: auto;
  font-size: 1.0em;
  white-space: nowrap;
}
.test {
  height: 1500px;
}
@media (max-width: 1540px) {
  .navBLogo {
    display: flex;
    margin-right: 65vw;
  }
  .headerContainer {
    display: none;
  }

  .hamburger {
    display: flex;
    margin-right: 0px;
  }
  .logoRadky{
    width:37vw;

  }
}
@media (max-width: 1024px) {
  .Mainfooter {
    height: 450px;
    flex-direction: column;
    font-size: 1em;
    white-space: normal;
    width: 100%;
  }
  .kontakty {
    margin-left: 40px;
    margin-top: 20px;
  }
  .logoRadky {
    width: 50vw;
    margin-bottom: 40px;
    margin-left: auto;
    padding-left: 80px;
  }
}
@media (max-width: 375px) {
  .hamburger {
    display: flex;
    margin-right: 30px;
  }
  .navBLogo {
    display: flex;
    margin-right: 45vw;
  }
}



