* {
  box-sizing: border-box;
  font-family: Noto Sans Mono, WOFF2;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--tittlePageBackgroundColor);
  color: white;
}
:root {
  --marginFooter: 40px;
  --mainBackgroung: white;
  --tulColor: #ea7603;
  --headerHeight: 75px;
  --navBarFontSize: 1.2em;
  --footerSize: 250px;
  --footerFontSize: 1em;
  --LeftPageMargin: 200px;
  --logo3Size: 600px;
  --rightPageMargin: 200px;
  --logoSize: 100px;
  --tittlePageFontSize: 1.5em;
  --tittlePageBackgroundColor: #fc9024;
  --paddingLeftSide: 235px;
  --tittlePageHeight: 100px;
  --contentBlockFontSize: 1.1em;
}
.tittlePage {
  font-size: var(--tittlePageFontSize);
  justify-content: center;
  height: var(--tittlePageHeight);
  background-color: var(--tittlePageBackgroundColor);
  padding-left: 10px;
  padding-top: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
}
.contentWindow {
  margin-left: var(--LeftPageMargin);
  margin-right: var(--rightPageMargin);
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--tittlePageBackgroundColor);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  height: auto;
}
.contentBlock li {
  padding-bottom: 15px;
}
.contentBlock h2 {
  padding-top: 15px;
}
.contentBlock {
  background-color: var(--tulColor);
  height: 450px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
  margin-bottom: 20px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: var(--contentBlockFontSize);
}
.headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
}
.navB {
  margin: 40px;
  font-size: var(--navBarFontSize);
  background-color: transparent;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: white;
}
.navB:hover {
  color: rgb(247, 201, 155);
  cursor: pointer;
}
.Mainheader .headerContainer li:first-child {
  margin-right: 50px;
  margin-left: 160px;
  margin-bottom: 35px;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
}
.Mainheader {
  background-color: var(--tulColor);
  height: var(--headerHeight);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1000;
}

.main {
  flex: 1;
  overflow: auto;
  padding-top: var(--headerHeight);
  padding-bottom: 100px;
}

.logo {
  background-image: url("../img/tul-fm_zkratka_cz_white_RGB.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: var(--logoSize);
  width: var(--logoSize);
  height: 30px;
  display: inline-block;
  text-indent: -999999px;
  justify-content: center;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
  margin-right: 150px;
}
.lines {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}
.SecondHeaderContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(234, 118, 3, 0.9);
  position: fixed;
  top: 59px;
  left: 0;
  right: 0;
  z-index: 999;
  list-style-type: none;
}
.navBLogo {
  display: none;
}

.logoRadky {
  width: var(--logo3Size);
  height: auto;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}
.footerContent {
  margin-left: var(--LeftPageMargin);
}
.footerContent2 {
  margin-left: auto;
  margin-right: var(--rightPageMargin);
}
.Mainfooter {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
  background-color: var(--tulColor);
  color: white;
  height: var(--footerSize);
  display: flex;
  align-items: center;
  flex-direction: row;
  backdrop-filter: blur(5px);
  font-size: var(--footerFontSize);
  white-space: nowrap;
}
.test {
  height: 1500px;
  width: 100%;
}
@media (max-width: 1540px) {
  .navBLogo {
    display: flex;
    margin-right: 65vw;
    margin-top: 10px;
  }
  .headerContainer {
    display: none;
  }

  .hamburger {
    display: flex;
    margin-right: 0px;
  }
  .logoRadky {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  .contentWindow {
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1024px) {
  .Mainfooter {
    height: auto;
    flex-direction: column;
    font-size: auto;
    white-space: normal;
    align-items: center;
    width: 100%;
  }
  .footerContent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .logoRadky {
    margin-bottom: 40px;
    margin-left: var(--LeftPageMargin);
    margin-right: auto;
    width: 400px;
  }
}
@media (max-width: 375px) {
  .hamburger {
    display: flex;
    margin-right: 30px;
  }
  .navBLogo {
    display: flex;
    margin-right: 40vh;
  }
}
