* {
  box-sizing: border-box;
}
:root {
  --text-color :#ffffff;
  --background: #121212;
  --primary: #ea7603;
  --secondary: #404040;
  --page-margin:6vw;
  --font-family: 'Inter', sans-serif;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-family);
}



.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  flex: 1;
  overflow: auto;
  padding-top: var(--header-height);
  padding-bottom: 100px;
}

.test {
  height: 1500px;
  width: 100%;
}

